<div class="navigation ">
    <div class="nav-bar lg:pr-6 ">
        <nav class="lg:pr-6 max-w-full flex justify-content-end align-items-center">
            <ul class="flex justify-content-between align-items-center">
                <li class="flex justify-content-between align-items-center">
                    <a class="p-2 text-center ">Home</a>
                </li>
                <li class="flex justify-content-between align-items-center">
                    <a class="p-2 text-center ">About</a>
                </li>
                <li class="flex justify-content-between align-items-center">
                    <a class="p-2 text-center ">Contact</a>
                </li>
            </ul>
        </nav>
    </div>
</div>
