<div class="container relative">
    <!-- background -->
    <div class="back-blur"></div>

    <!-- card and text -->
    <div class="top-home  grid absolute top-0 ">
        <!-- card -->
        <div class="card-col col-6 relative">
            <div class="card absolute">
                <img width="100%" src="../../../assets/Image/tes.jpg" alt="">
            </div>
        </div>

        <!-- text -->
        <div class="col-6 relative">
            <div class="text-top text-start absolute font-bold text-4xl">
                <h1>
                    Hi !
                </h1>
                <br>
                <h2>

                    It's Phanun <br>
                    Welcome to visit <br>
                    my web site .
                </h2>
            </div>
        </div>
    </div>
    <!-- Card - Team Work -->

    <div class="grid lg:mb-8">
        <div class="lg:col-6 lg:pr-4 flex align-items-center justify-content-end">
            <div class="card-team">
                <img width="100%" src="../../../assets/Image/team.jpg" alt="">
            </div>
        </div>
        <div class="lg:col-6">
            <div class="text-team lg:p-5 lg:pl-6">
                <h1>
                    Team Work
                </h1>
                <br><br>
                <h3>
                    Hi guy , in IT career we allways <br>
                    work with teams for research , <br>
                    develop and grow up together
                </h3>
            </div>
        </div>
    </div>


    <div class="box-hight"></div>

    <!-- card Team commitment -->
    <div class="grid lg:mt-8 lg:mb-8">
        <div class="lg:col-6">
            <div class="text-comitment lg:p-5 lg:pr-5">
                <h1>
                    Commitment Team
                </h1>
                <br><br>
                <h3>
                    For complete any project , we <br>
                    commitment and learning from <br>
                    new project .We allways met <br>
                    new challengs and new problem <br>
                    but, we try to fix all of this and <br>
                    finish uor project successfully .
                </h3>
            </div>
        </div>

        <div class="lg:col-6 lg:pl-7 flex align-items-center justify-content-start">
            <div class="card-team">
                <img width="100%" src="../../../assets/Image/zteam.jpg" alt="">
            </div>
        </div>
    </div>

    <div class="box-hight lg:mt-8"></div>

    <!-- Card introducing -->

    <div class="card-self grid lg:mt-8 lg:p-7">
        <div class="on-img lg:col-5 sm:col-12 lg:pr-4 flex align-items-center justify-content-end">
            <div class="img-self">
                <img width="100%" src="../../../assets/Image/tes.jpg" alt="">
            </div>
        </div>
        <div class="lg:col-7 sm:col-12">
            <div class="text-team lg:p-5 lg:pl-6">
                <h1>
                    Hi Guy, let's me <br>
                    introducing My self
                </h1>
                
                <h3 class="lg:pr-8 lg:pt-6">
                    My name's Mon Phanun I'm junior front-end developer specially on Angular . In 2023 I have been
                    scholarship about foundation development, with this scholarship I have to learn strong foundation
                    about

                    HTML,CSS,JAVA Script ,Type Script,SQL,MySQL ,PHP as well .When I successfully to complete web
                    development course , I got opportunity to training about .Net API , Angular and Flutter. I have been
                    cautch to learn about .Net API and Angular , some business flow and research about UX / UI Design
                    using Figma also . Nowanday I Just graduated about Computer Science at RUPP .
                </h3>
            </div>
        </div>
    </div>

</div>
<div class="body">

</div>